
:root {
    --primary-r: 245;
    --primary-g: 194;
    --primary-b: 231;
    --primary-accent-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1.0);
    --secondary-accent-color: #cba6f7;
    --primary-background-color: #1e1e2e;
    --secondary-background-color: #181825;
    --surface0: #313244;
    --surface1: #45475a;
    --primary-background-transparent: rgba(49, 50, 68, 0.5);
    --secondary-background-transparent: rgba(17, 17, 27, 0.6);
    --rounded-cards: 15px;
    --blur: 10px;

    /* Alternate accents*/
    --primary-alt1: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 1);
    --primary-alt2: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.85);
    --primary-alt3: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.7);
    --primary-alt4: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.55);
    --primary-alt5: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.4);

    color: #cdd6f4;
    --text: #cdd6f4;


    --green: #a6e3a1;


    --inner-accent: var(--surface1);
    --played-indic: var(--green);
}

.navMenuOption:hover:not(.navMenuOption-selected) {
    background-color: rgba(49, 50, 68, 0.7);
}

.emby-tab-button:not(.emby-tab-button-active) {
    color: #9399b2;
}

.emby-tab-button-active {
    color: #cdd6f4;
}

.headerRight {
    color: #cdd6f4;
}

@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: var(--inner-accent) !important;
        background-color: var(--primary-accent-color) !important;
    }
}

.listItemIcon:not(.listItemIcon-transparent):not(.notification_important) {
    color: var(--inner-accent) !important;
    background-color: var(--primary-accent-color) !important;
}

.MuiListItemButton-root.Mui-selected {
    background: var(--primary-background-transparent) !important;
}
.MuiListItemButton-root.Mui-selected .MuiListItemIcon-root,
.MuiListItemButton-root.Mui-selected {
    color: var(--primary-accent-color) !important;
}


.cardIndicators {
    color: var(--inner-accent) !important;
}

.emby-checkbox:checked + span + .checkboxOutline,
.selectionCommandsPanel,
.countIndicator,
.MuiButton-root.MuiButton-containedSizeMedium,
.MuiChip-root.MuiChip-colorInfo:not(.MuiChip-root.MuiChip-colorError),
progress[aria-valuenow]:before {
    background: var(--primary-accent-color) !important;
    color: var(--surface1) !important;
}

.playedIndicator {
    background: var(--played-indic) !important;
    color: var(--inner-accent)
}

