
:root {
    --primary-r: 245;
    --primary-g: 194;
    --primary-b: 231;
    --primary-accent-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1.0);
    --secondary-accent-color: #cba6f7;
    --primary-background-color: #1e1e2e;
    --secondary-background-color: #181825;
    --surface0: #313244;
    --mantle-shadow: rgba(24, 24, 37, 0.35);
    --surface1: #45475a;
    --primary-background-transparent: rgba(49, 50, 68, 0.5);
    --primary-background-transparent_lesst: rgba(49, 50, 68, 0.65);
    --primary-background-transparent_moret: rgba(49, 50, 68, 0.4);
    --secondary-background-transparent: rgba(17, 17, 27, 0.6);
    --rounded-cards: 15px;
    --blur: 10px;

    /* Alternate accents*/
    --primary-alt1: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 1);
    --primary-alt2: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.85);
    --primary-alt3: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.7);
    --primary-alt4: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.55);
    --primary-alt5: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.4);

    color: #cdd6f4;
    --text: #cdd6f4;
    --text-sec: rgba(186, 194, 222, 0.8); /* subtext1 half op */


    --green: #a6e3a1;


    --inner-accent: var(--surface1);
    --played-indic: var(--green);
}

.navMenuOption:hover:not(.navMenuOption-selected) {
    background-color: rgba(49, 50, 68, 0.7);
}

.navMenuOption-selected {
    background-color: var(--primary-accent-color) !important;
    color: var(--inner-accent) !important;
}

.refreshProgress {
    background-color: var(--surface1) !important;
    color: var(--primary-accent-color) !important;
}

.collapseContent, .formDialogFooter:not(.formDialogFooter-clear), .formDialogHeader:not(.formDialogHeader-clear), .paperList, .visualCardBox {
    background-color: var(--surface0) !important;
}


.visualCardBox {
    box-shadow: 0 .0725em .29em 0 var(--mantle-shadow);
}


.emby-select-withcolor {
    background-color: var(--surface0) !important;
    /* color: var(--primary-accent-color) !important; */
}

.emby-tab-button:not(.emby-tab-button-active) {
    color: #9399b2;
}

.emby-tab-button-active {
    color: var(--text) !important;
}

.emby-input, .emby-textarea {
    background-color: var(--surface0) !important;
    border-color: var(--surface0) !important;
    /* color: var(--text) !important; */
}

.headerRight {
    color: var(--text) !important;
}

/* progress indicator for lib scanning */
.progressring-bg {
    background-color: var(--primary-background-transparent_moret);
    background-blend-mode: overlay;
    backdrop-filter: blur(var(--blur)) !important;
    border-color: transparent;
}

/* .MuiPaper-root.MuiDrawer-paperAnchorDockedLeft, */
/* .MuiList-subheader .MuiListItemButton-root.MuiListItemButton-gutters:not(.Mui-selected){ */
/*     color: var(--text) !important; */
/* } */

.MuiList-subheader .MuiListItemButton-root.MuiListItemButton-gutters:not(.Mui-selected) .MuiListItemIcon-root,
.MuiList-subheader .MuiListItemButton-root.MuiListItemButton-gutters:not(.Mui-selected) {
    color: var(--text) !important;
}

.MuiList-subheader .MuiListItemButton-root.MuiListItemButton-gutters:hover:not(.Mui-selected) {
    transform: scale(1.05) !important;
    background: var(--primary-background-color) !important;
}
.cardText-secondary, .fieldDescription, .guide-programNameCaret, .listItem .secondary, .nowPlayingBarSecondaryText, .programSecondaryTitle, .secondaryText {
    color: var(--text-sec) !important;
}


@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: var(--inner-accent) !important;
        background-color: var(--primary-accent-color) !important;
    }
}

.listItemIcon:not(.listItemIcon-transparent):not(.notification_important) {
    color: var(--inner-accent) !important;
    background-color: var(--primary-accent-color) !important;
}

.MuiListItemButton-root.Mui-selected {
    background: var(--primary-background-transparent) !important;
}
.MuiListItemButton-root.Mui-selected .MuiListItemIcon-root,
.MuiListItemButton-root.Mui-selected {
    color: var(--primary-accent-color) !important;
}


.cardIndicators {
    color: var(--inner-accent) !important;
}

.emby-checkbox:checked + span + .checkboxOutline,
.selectionCommandsPanel,
.countIndicator,
.MuiButton-root.MuiButton-containedSizeMedium,
.MuiChip-root.MuiChip-colorInfo:not(.MuiChip-root.MuiChip-colorError),
progress[aria-valuenow]:before {
    background: var(--primary-accent-color) !important;
    color: var(--surface1) !important;
}

.playedIndicator {
    background: var(--played-indic) !important;
    color: var(--inner-accent)
}

